body {
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
}
.mainContainer{
    position: absolute;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    
}
.imgContainer{
    margin-bottom: 1rem;
    border-radius: 20px 20px 0px 0px;   
    overflow: hidden;
}
.imgContainer img{
    width: 100%;
}
.summaryContainer span{
    display: block;
    padding: 0.5rem 1.5rem;
    
}
.summaryTitle{
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(8, 8, 53);
}
.summaryBody{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7rem;
    color:hsl(224, 23%, 55%);
}
.planContainer{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    font-size: 0.8rem;
    place-items: center;
    height: 4rem;
    width: 80%;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: auto;
}
.planImg img {
    padding-right: 1rem;
}
.planTypeTitle{
    margin-top: 1.8rem;
    font-weight: bold;
    color: rgb(8, 8, 53);
}
.planTypePrice{
    display: grid;
    margin-top: 0.3rem;
    color:hsl(224, 23%, 55%);
}
.planChange{
    /* margin: auto; */

}
.planButton{
    border: none;
    outline: none;
    background-color: hsl(225, 100%, 98%);
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    text-decoration: underline;
   font-family: inherit;
   padding-left: 1rem;
}
.paymentContainer{
    padding:1rem;
    text-align: center;
}
.proceedButton{
   padding: 1.3rem 0rem;  
   border-radius: 12px; 
   width: 90%;
   background-color: hsl(245, 75%, 52%);
   color: white;
   box-shadow: 0px 10px 20px hsl(224, 23%, 55%);
   border: none;
   font-weight: 900;
   font-size: 1rem;
   font-family: inherit;
}
.cancelButton{
    width: 90%;
    padding: 1rem 0rem;
    border: none;
    outline: none;
    color:hsl(224, 23%, 55%);
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
   font-family: inherit;

}
